/*
MX Platform API

The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

API version: 20111101
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mxplatformgo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MonthlyCashFlowProfileAPIService MonthlyCashFlowProfileAPI service
type MonthlyCashFlowProfileAPIService service

type ApiReadMonthlyCashFlowProfileRequest struct {
	ctx context.Context
	ApiService *MonthlyCashFlowProfileAPIService
	userGuid string
}

func (r ApiReadMonthlyCashFlowProfileRequest) Execute() (*MonthlyCashFlowResponseBody, *http.Response, error) {
	return r.ApiService.ReadMonthlyCashFlowProfileExecute(r)
}

/*
ReadMonthlyCashFlowProfile Read monthly cash flow profile

Read monthly cash flow profile.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userGuid The unique identifier for a `user`, beginning with the prefix `USR-`.
 @return ApiReadMonthlyCashFlowProfileRequest
*/
func (a *MonthlyCashFlowProfileAPIService) ReadMonthlyCashFlowProfile(ctx context.Context, userGuid string) ApiReadMonthlyCashFlowProfileRequest {
	return ApiReadMonthlyCashFlowProfileRequest{
		ApiService: a,
		ctx: ctx,
		userGuid: userGuid,
	}
}

// Execute executes the request
//  @return MonthlyCashFlowResponseBody
func (a *MonthlyCashFlowProfileAPIService) ReadMonthlyCashFlowProfileExecute(r ApiReadMonthlyCashFlowProfileRequest) (*MonthlyCashFlowResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonthlyCashFlowResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonthlyCashFlowProfileAPIService.ReadMonthlyCashFlowProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user_guid}/monthly_cash_flow_profile"
	localVarPath = strings.Replace(localVarPath, "{"+"user_guid"+"}", url.PathEscape(parameterValueToString(r.userGuid, "userGuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMonthlyCashFlowProfileRequest struct {
	ctx context.Context
	ApiService *MonthlyCashFlowProfileAPIService
	userGuid string
	monthlyCashFlowProfileRequestBody *MonthlyCashFlowProfileRequestBody
}

func (r ApiUpdateMonthlyCashFlowProfileRequest) MonthlyCashFlowProfileRequestBody(monthlyCashFlowProfileRequestBody MonthlyCashFlowProfileRequestBody) ApiUpdateMonthlyCashFlowProfileRequest {
	r.monthlyCashFlowProfileRequestBody = &monthlyCashFlowProfileRequestBody
	return r
}

func (r ApiUpdateMonthlyCashFlowProfileRequest) Execute() (*MonthlyCashFlowResponseBody, *http.Response, error) {
	return r.ApiService.UpdateMonthlyCashFlowProfileExecute(r)
}

/*
UpdateMonthlyCashFlowProfile Update monthly cash flow profile

Use this endpoint to update the attributes of a `monthly_cash_flow_profile`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userGuid The unique identifier for a `user`, beginning with the prefix `USR-`.
 @return ApiUpdateMonthlyCashFlowProfileRequest
*/
func (a *MonthlyCashFlowProfileAPIService) UpdateMonthlyCashFlowProfile(ctx context.Context, userGuid string) ApiUpdateMonthlyCashFlowProfileRequest {
	return ApiUpdateMonthlyCashFlowProfileRequest{
		ApiService: a,
		ctx: ctx,
		userGuid: userGuid,
	}
}

// Execute executes the request
//  @return MonthlyCashFlowResponseBody
func (a *MonthlyCashFlowProfileAPIService) UpdateMonthlyCashFlowProfileExecute(r ApiUpdateMonthlyCashFlowProfileRequest) (*MonthlyCashFlowResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonthlyCashFlowResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonthlyCashFlowProfileAPIService.UpdateMonthlyCashFlowProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user_guid}/monthly_cash_flow_profile"
	localVarPath = strings.Replace(localVarPath, "{"+"user_guid"+"}", url.PathEscape(parameterValueToString(r.userGuid, "userGuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.monthlyCashFlowProfileRequestBody == nil {
		return localVarReturnValue, nil, reportError("monthlyCashFlowProfileRequestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.monthlyCashFlowProfileRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
