/*
MX Platform API

The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

API version: 20111101
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mxplatformgo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// InstitutionsAPIService InstitutionsAPI service
type InstitutionsAPIService service

type ApiListFavoriteInstitutionsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	isoCountryCode *[]string
	page *int32
	recordsPerPage *int32
}

// An array of strings that filters institutions in the widget by the specified country code. Acceptable codes include &#x60;US&#x60;, &#x60;CA&#x60;, and &#x60;MX&#x60; (Mexico).
func (r ApiListFavoriteInstitutionsRequest) IsoCountryCode(isoCountryCode []string) ApiListFavoriteInstitutionsRequest {
	r.isoCountryCode = &isoCountryCode
	return r
}

// Results are paginated. Specify current page.
func (r ApiListFavoriteInstitutionsRequest) Page(page int32) ApiListFavoriteInstitutionsRequest {
	r.page = &page
	return r
}

// This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;100&#x60;. If the value exceeds &#x60;100&#x60;, the default value of &#x60;25&#x60; will be used instead.
func (r ApiListFavoriteInstitutionsRequest) RecordsPerPage(recordsPerPage int32) ApiListFavoriteInstitutionsRequest {
	r.recordsPerPage = &recordsPerPage
	return r
}

func (r ApiListFavoriteInstitutionsRequest) Execute() (*InstitutionsResponseBody, *http.Response, error) {
	return r.ApiService.ListFavoriteInstitutionsExecute(r)
}

/*
ListFavoriteInstitutions List favorite institutions

This endpoint returns a paginated list containing institutions that have been set as the partner’s favorites, sorted by popularity. Please contact MX to set a list of favorites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFavoriteInstitutionsRequest
*/
func (a *InstitutionsAPIService) ListFavoriteInstitutions(ctx context.Context) ApiListFavoriteInstitutionsRequest {
	return ApiListFavoriteInstitutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InstitutionsResponseBody
func (a *InstitutionsAPIService) ListFavoriteInstitutionsExecute(r ApiListFavoriteInstitutionsRequest) (*InstitutionsResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InstitutionsResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.ListFavoriteInstitutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institutions/favorites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isoCountryCode != nil {
		t := *r.isoCountryCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "iso_country_code", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "iso_country_code", t, "multi")
		}
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.recordsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "records_per_page", r.recordsPerPage, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.mx.api.v1+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListInstitutionCredentialsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	institutionCode string
	page *int32
	recordsPerPage *int32
}

// Results are paginated. Specify current page.
func (r ApiListInstitutionCredentialsRequest) Page(page int32) ApiListInstitutionCredentialsRequest {
	r.page = &page
	return r
}

// This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
func (r ApiListInstitutionCredentialsRequest) RecordsPerPage(recordsPerPage int32) ApiListInstitutionCredentialsRequest {
	r.recordsPerPage = &recordsPerPage
	return r
}

func (r ApiListInstitutionCredentialsRequest) Execute() (*CredentialsResponseBody, *http.Response, error) {
	return r.ApiService.ListInstitutionCredentialsExecute(r)
}

/*
ListInstitutionCredentials List institution credentials

Use this endpoint to see which credentials will be needed to create a member for a specific institution.

Passing an invalid `institution_code` returns a `404`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param institutionCode The institution_code of the institution.
 @return ApiListInstitutionCredentialsRequest
*/
func (a *InstitutionsAPIService) ListInstitutionCredentials(ctx context.Context, institutionCode string) ApiListInstitutionCredentialsRequest {
	return ApiListInstitutionCredentialsRequest{
		ApiService: a,
		ctx: ctx,
		institutionCode: institutionCode,
	}
}

// Execute executes the request
//  @return CredentialsResponseBody
func (a *InstitutionsAPIService) ListInstitutionCredentialsExecute(r ApiListInstitutionCredentialsRequest) (*CredentialsResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CredentialsResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.ListInstitutionCredentials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institutions/{institution_code}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"institution_code"+"}", url.PathEscape(parameterValueToString(r.institutionCode, "institutionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.recordsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "records_per_page", r.recordsPerPage, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.mx.api.v1+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListInstitutionsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	name *string
	isoCountryCode *[]string
	page *int32
	recordsPerPage *int32
	supportsAccountIdentification *bool
	supportsAccountStatement *bool
	supportsAccountVerification *bool
	supportsTransactionHistory *bool
}

// This will list only institutions in which the appended string appears.
func (r ApiListInstitutionsRequest) Name(name string) ApiListInstitutionsRequest {
	r.name = &name
	return r
}

// An array of strings that filters institutions in the widget by the specified country code. Acceptable codes include &#x60;US&#x60;, &#x60;CA&#x60;, and &#x60;MX&#x60; (Mexico).
func (r ApiListInstitutionsRequest) IsoCountryCode(isoCountryCode []string) ApiListInstitutionsRequest {
	r.isoCountryCode = &isoCountryCode
	return r
}

// Results are paginated. Specify current page.
func (r ApiListInstitutionsRequest) Page(page int32) ApiListInstitutionsRequest {
	r.page = &page
	return r
}

// This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;100&#x60;. If the value exceeds &#x60;100&#x60;, the default value of &#x60;25&#x60; will be used instead.
func (r ApiListInstitutionsRequest) RecordsPerPage(recordsPerPage int32) ApiListInstitutionsRequest {
	r.recordsPerPage = &recordsPerPage
	return r
}

// Filter only institutions which support account identification.
func (r ApiListInstitutionsRequest) SupportsAccountIdentification(supportsAccountIdentification bool) ApiListInstitutionsRequest {
	r.supportsAccountIdentification = &supportsAccountIdentification
	return r
}

// Filter only institutions which support account statements.
func (r ApiListInstitutionsRequest) SupportsAccountStatement(supportsAccountStatement bool) ApiListInstitutionsRequest {
	r.supportsAccountStatement = &supportsAccountStatement
	return r
}

// Filter only institutions which support account verification.
func (r ApiListInstitutionsRequest) SupportsAccountVerification(supportsAccountVerification bool) ApiListInstitutionsRequest {
	r.supportsAccountVerification = &supportsAccountVerification
	return r
}

// Filter only institutions which support extended transaction history.
func (r ApiListInstitutionsRequest) SupportsTransactionHistory(supportsTransactionHistory bool) ApiListInstitutionsRequest {
	r.supportsTransactionHistory = &supportsTransactionHistory
	return r
}

func (r ApiListInstitutionsRequest) Execute() (*InstitutionsResponseBody, *http.Response, error) {
	return r.ApiService.ListInstitutionsExecute(r)
}

/*
ListInstitutions List institutions

This endpoint returns a list of institutions based on the specified search term or parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListInstitutionsRequest
*/
func (a *InstitutionsAPIService) ListInstitutions(ctx context.Context) ApiListInstitutionsRequest {
	return ApiListInstitutionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InstitutionsResponseBody
func (a *InstitutionsAPIService) ListInstitutionsExecute(r ApiListInstitutionsRequest) (*InstitutionsResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InstitutionsResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.ListInstitutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institutions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.isoCountryCode != nil {
		t := *r.isoCountryCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "iso_country_code", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "iso_country_code", t, "multi")
		}
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.recordsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "records_per_page", r.recordsPerPage, "")
	}
	if r.supportsAccountIdentification != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supports_account_identification", r.supportsAccountIdentification, "")
	}
	if r.supportsAccountStatement != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supports_account_statement", r.supportsAccountStatement, "")
	}
	if r.supportsAccountVerification != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supports_account_verification", r.supportsAccountVerification, "")
	}
	if r.supportsTransactionHistory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supports_transaction_history", r.supportsTransactionHistory, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.mx.api.v1+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadInstitutionRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	institutionCode string
}

func (r ApiReadInstitutionRequest) Execute() (*InstitutionResponseBody, *http.Response, error) {
	return r.ApiService.ReadInstitutionExecute(r)
}

/*
ReadInstitution Read institution

This endpoint returns information about the institution specified by `institution_code`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param institutionCode The institution_code of the institution.
 @return ApiReadInstitutionRequest
*/
func (a *InstitutionsAPIService) ReadInstitution(ctx context.Context, institutionCode string) ApiReadInstitutionRequest {
	return ApiReadInstitutionRequest{
		ApiService: a,
		ctx: ctx,
		institutionCode: institutionCode,
	}
}

// Execute executes the request
//  @return InstitutionResponseBody
func (a *InstitutionsAPIService) ReadInstitutionExecute(r ApiReadInstitutionRequest) (*InstitutionResponseBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InstitutionResponseBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.ReadInstitution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institutions/{institution_code}"
	localVarPath = strings.Replace(localVarPath, "{"+"institution_code"+"}", url.PathEscape(parameterValueToString(r.institutionCode, "institutionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.mx.api.v1+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
